@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: "Outfit";
	min-height: 100%;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	box-sizing: inherit;
	background-color: #020c1b;
	color: aliceblue;
}
